{% extends 'base.html' %} {% load static %}

{% block title %}Contact Us - LCS{% endblock %} {% block content %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px">
    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
      Contact Us
    </h4>
    <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item active text-primary">Contact</li>
    </ol>
  </div>
</div>
<!-- Header End -->

<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
        <div>
          <h4 class="text-primary">Contact Us</h4>
          <h1 class="display-4 mb-4">Illuminate Your Message Get in Contact</h1>
          <p class="mb-5">
            We would love to hear from you! Whether you have questions about our
            smelting services, need assistance with a project, or simply want to learn more
            about how we can help you harness the power of metals, our team is here to
            assist you.
          </p>
          <div class="d-flex align-items-center mb-4">
            <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="row g-4">
            <div class="col-12">
              <div class="d-inline-flex bg-white w-100 p-4">
                <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                <div>
                  <h4>Address</h4>
                  <p class="mb-0">KOLWEZI, RDC</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-6">
              <div class="d-inline-flex bg-white w-100 p-4">
                <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                <div>
                  <h4>Mail Us</h4>
                  <p class="mb-0">service@lcsmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-6">
              <div class="d-inline-flex bg-white w-100 p-4">
                <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                <div>
                  <h4>Telephone</h4>
                  <p class="mb-0">+243858820451</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
        <div>
          <p class="mb-4">
            The contact form is currently inactive. Get a functional and working
            contact form with Ajax & PHP in a few minutes. Just copy and paste
            the files, add a little code and you're done.
            <a class="text-primary fw-bold" href="https://htmlcodex.com/contact-form">Download Now</a>.
          </p>
          <form>
            <div class="row g-4">
              <div class="col-lg-12 col-xl-6">
                <div class="form-floating">
                  <input type="text" class="form-control border-0" id="name" placeholder="Your Name" />
                  <label for="name">Your Name</label>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="form-floating">
                  <input type="email" class="form-control border-0" id="email" placeholder="Your Email" />
                  <label for="email">Your Email</label>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="form-floating">
                  <input type="phone" class="form-control border-0" id="phone" placeholder="Phone" />
                  <label for="phone">Your Phone</label>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="form-floating">
                  <input type="text" class="form-control border-0" id="project" placeholder="Project" />
                  <label for="project">Your Project</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input type="text" class="form-control border-0" id="subject" placeholder="Subject" />
                  <label for="subject">Subject</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control border-0" placeholder="Leave a message here" id="message"
                    style="height: 125px"></textarea>
                  <label for="message">Message</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheck" />
                  <label class="form-check-label" for="flexCheck">
                    I agree with the site privacy policy</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 wow fadeInUp" data-wow-delay="0.2s">
        <div class="h-100 overflow-hidden">
          <iframe class="w-100" style="height: 400px"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126437.56924855913!2d25.463903999999998!3d-10.7146705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1979b4b6e5b07e6d%3A0x7569fe72dc2a8e3f!2sKolwezi%2C%20Democratic%20Republic%20of%20the%20Congo!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}