{% extends 'base.html' %}
{% load static %}
{% block title %}Carousel - LCS{% endblock %}
{% block content %}
<!-- carousel start -->
<div class="container-fluid carousel py-5">
    <div class="container py-5">
        <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s"
            style="max-width: 800px">
            <h4 class="text-primary">Our Carousel</h4>
            <h1 class="display-4 mb-4">Explore Our Dynamic Carousel Showcase</h1>
            <p class="mb-0">Discover the latest highlights and features of Lualaba Copper Smelter through our
                dynamic
                carousel.
                Stay updated with our newest projects, innovations, and industry insights as we continue to lead in
                smelting excellence.</p>
        </div>
        <div class="row g-4">
            {% for item in carousel %}
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <!-- item.image.url -->
                        <img src="{% static item.image %}" class="img-fluid w-100" alt="" />
                        <img src="{{ item.image.url }}" alt="">
                    </div>
                    <div class="carousel-content bg-light p-4">
                        <h4 class="mb-4">{{ item.title }}</h4>
                        <p class="mb-4">
                            {{ item.description }}
                        </p>
                    </div>
                </div>
            </div>
            {% Empty %}
            <p>No carousel items available at the moment.</p>
            {% endfor %}
        </div>
    </div>
</div>
<!-- carousel end -->
{% endblock %}